#######################
# Visual Studio files #
#######################
*.suo
*.user
*.sdf
ipch/
.vs/

##################
# Python Ness    #
##################
__pycache__/
env/
*.pyc

##################
# Compiled files #
##################
linux/
bin/
obj/
Release/
Debug/
*.dll
*.exe
*.pdb
*.obj
*.log
*.tlog
*.htm
*.pch
watchlist.db

#####################
# OS-specific files #
#####################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.pyproj
JigsawBot/jigsaw-admin/jigsaw-admin.sln
*.pyd
JigsawBot/jigsaw-bot-env/*
WOMBLEWOOF/WOMBLEWOOF.sln
WOMBLEWOOF/WOMBLEWOOF/WOMBLEWOOF.pyproj
WOMBLEWOOF/WOMBLEWOOF.pyproj
WOMBLEWOOF.pyproj
WOMBLEAWARD/requirements.txt
WOMBLEWOOF/WOMBLEWOOF/womble_environment/*
WOMBLEWOOF/WOMBLEWOOF/watcher/*
WOMBLEWOOF/WOMBLEWOOF/watcher/*
WOMBLEWOOF/WOMBLEWOOF/watcher
WOMBLEAWARD/WOMBLEAWARD/WOMBLEAWARD.sln
JigsawBot/jigsaw-admin/jigsaw-admin/jigsaw-admin.sln
ip2asn-v4.tsv
*.tsv
AdminBot/log.txt
*.sln
WOMBLEAWARD/WOMBLEAWARD/data/zonefile_domains.txt
WOMBLEAWARD/data/zonefile_domains.txt
WOMBLEWATCH/watchers/dnsWatchlist/*.json
